.resume-section-container {
    padding: 7% 15%;
    background-color: #eee;
}

#resume-img {
    width: 100%;
    display: block;
    margin: 30px auto 0; 
}

.download-btn {
    background-color:rgb(204, 101, 103);
    color: #eee;
    padding: 5px 7px;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    text-align: center;
    margin: 15px auto;
}

@media screen and (max-width: 950px) {
    .resume-section-container {
        padding: 5% 6%;
        background-color: #eee;
    }
    
}
